Repository hgw734/mlTrainer3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-synthetic-data, validate-governance, check-secrets, check-governance-imports

check-synthetic-data:
  name: Check for synthetic data
  entry: python hooks/check_synthetic_data.py
  language: python
  fail_fast: true
  verbose: true

validate-governance:
  name: Validate governance compliance
  entry: python hooks/validate_governance.py
  language: python
  fail_fast: true
  verbose: true

check-secrets:
  name: Check for hardcoded secrets
  entry: python hooks/check_secrets.py
  language: python
  fail_fast: true

check-governance-imports:
  name: Check governance imports
  entry: python hooks/check_governance_imports.py
  language: python

Update unified-ci-cd.yml
  .github/workflows/unified-ci-cd.yml
Due: check-secrets

Delete .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: check-secrets

Delete .github/workflows/sync-to-hf.yml:
  .github/workflows/sync-to-hf.yml:
Due: none

Create readme.md
  readme.md
Due: none

Update readme.md
  readme.md
Due: none

Update mltrainer_unified_chat.py
  mltrainer_unified_chat.py
Due: check-synthetic-data, validate-governance, check-secrets

Create initial Streamlit app for mlTrainer3 with chat and navigation
  mltrainer_unified_chat_fixed.py
Due: check-synthetic-data, validate-governance, check-secrets

Create unified mlTrainer chat interface with advanced features and components
  mltrainer_unified_chat_complete.py
Due: check-synthetic-data, validate-governance, check-secrets

Add comprehensive system fix report and critical file repair scripts
  FINAL_FIX_REPORT.md
  copy_all_mltrainer3.sh
  fix_all_python_files.py
  fix_critical_files.py
  fix_entire_system.py
  mlTrainer3_critical_fixed/.env.example
  mlTrainer3_critical_fixed/.github/workflows/unified-ci-cd.yml
  mlTrainer3_critical_fixed/Dockerfile
  mlTrainer3_critical_fixed/README.md
  mlTrainer3_critical_fixed/app.py
  mlTrainer3_critical_fixed/config/api_config.py
  mlTrainer3_critical_fixed/config/models_config.py
  mlTrainer3_critical_fixed/core/enhanced_background_manager.py
  mlTrainer3_critical_fixed/core/unified_executor.py
  mlTrainer3_critical_fixed/fred_connector.py
  mlTrainer3_critical_fixed/goal_system.py
  mlTrainer3_critical_fixed/launch_mltrainer.py
  mlTrainer3_critical_fixed/mlagent_bridge.py
  mlTrainer3_critical_fixed/mltrainer_chat.py
  mlTrainer3_critical_fixed/mltrainer_claude_integration.py
  mlTrainer3_critical_fixed/mltrainer_models.py
  mlTrainer3_critical_fixed/mltrainer_unified_chat.py
  mlTrainer3_critical_fixed/polygon_connector.py
  mlTrainer3_critical_fixed/recommendation_tracker.py
  mlTrainer3_critical_fixed/requirements.txt
  mlTrainer3_critical_fixed/telegram_notifier.py
  mlTrainer3_critical_fixed/virtual_portfolio_manager.py
  process_and_copy_all.py
Due: check-synthetic-data, validate-governance, check-secrets

Add critical security breach report and file analysis script
  CRITICAL_SECURITY_BREACH_REPORT.md
  analyze_failed_files.py
Due: check-synthetic-data, validate-governance, check-secrets

Add comprehensive analysis of 68 failed files in mlTrainer3
  COMPLETE_68_FILES_REPORT.md
  COMPLETE_FILE_ANALYSIS.txt
  detailed_file_analysis.py
Due: check-synthetic-data, validate-governance, check-secrets

Recover critical mlTrainer3 files and create emergency recovery system
  RECOVERY_COMPLETE.md
  aggressive_recovery.py
  fix_all_68_files.py
  ultimate_recovery_system.py
Due: check-synthetic-data, validate-governance, check-secrets

Complete recovery of mlTrainer3 system with full file reconstruction
  FINAL_RECOVERY_REPORT.md
  complete_recovery_system.py
Due: check-synthetic-data, validate-governance, check-secrets

Checkpoint before follow-up message
  verify_all_68_files.py
Due: check-synthetic-data, validate-governance, check-secrets

Fix 68 files: Complete system integration and verification
  FINAL_68_FILES_VERIFICATION.md
  fix_all_integrations.py
  fix_test_files.py
Due: check-synthetic-data, validate-governance, check-secrets

Add honest assessment of code recovery status and limitations
  HONEST_ASSESSMENT.md
Due: none

Path conditions:
  check-synthetic-data: any of: \.(py|ipynb)$
  validate-governance: any of: \.py$
  check-secrets: any of: \.(py|yaml|yml|json|env)$
  check-governance-imports: any of: ^(core|utils|backend)/.*\.py$, but not: ^core/governance.*\.py$
