Repository hgw734/mlTrainer3: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-synthetic-data, validate-governance, check-secrets, check-governance-imports

.pre-commit-config.yaml:

# Pre-commit hooks for mlTrainer governance enforcement
# These hooks run BEFORE any code can be committed to the repository

repos:
  # Check for synthetic data patterns
  - repo: local
    hooks:
      - id: check-synthetic-data
        name: Check for synthetic data
        entry: python hooks/check_synthetic_data.py
        language: python
        files: \.(py|ipynb)$
        fail_fast: true
        verbose: true

  # Validate governance compliance
  - repo: local
    hooks:
      - id: validate-governance
        name: Validate governance compliance
        entry: python hooks/validate_governance.py
        language: python
        files: \.py$
        fail_fast: true
        verbose: true

  # Check for hardcoded secrets
  - repo: local
    hooks:
      - id: check-secrets
        name: Check for hardcoded secrets
        entry: python hooks/check_secrets.py
        language: python
        files: \.(py|yaml|yml|json|env)$
        fail_fast: true

  # Ensure governance imports
  - repo: local
    hooks:
      - id: check-governance-imports
        name: Check governance imports
        entry: python hooks/check_governance_imports.py
        language: python
        files: ^(core|utils|backend)/.*\.py$
        exclude: ^core/governance.*\.py$

  # Standard security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', '.', '-f', 'json', '-o', 'bandit-report.json']
        exclude: tests/

  # Check for common security issues
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.11

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--strict]

# Configuration
default_language_version:
  python: python3.11

fail_fast: true  # Stop on first failure
minimum_pre_commit_version: 3.0.0

Create runtime.txt
  runtime.txt
Due: none

Create Procfile
  Procfile
Due: none

Update requirements.txt
  requirements.txt
Due: none

Update Procfile
  Procfile
Due: none

Create run.py
  run.py
Due: check-synthetic-data, validate-governance, check-secrets

Create start.sh
  start.sh
Due: none

Update run.py
  run.py
Due: check-synthetic-data, validate-governance, check-secrets

Add Streamlit configuration and run script for containerization
  .streamlit/config.toml
  run_streamlit.py
  start.sh
Due: check-synthetic-data, validate-governance, check-secrets

Configure Railway deployment with Streamlit server settings
  .env.example
  Procfile
  Procfile.alternative
  railway.json
  start.sh
Due: check-secrets

Create run_streamlit.py
  run_streamlit.py
Due: check-synthetic-data, validate-governance, check-secrets

Update run_streamlit.py
  run_streamlit.py
Due: check-synthetic-data, validate-governance, check-secrets

Update and rename Dockerfile to Dockerfile.old
  Dockerfile.old
Due: none

Update and rename Dockerfile.old to Dockerfile
  Dockerfile
  Dockerfile.old
Due: none

Update Dockerfile
  Dockerfile
Due: none

Delete start.sh
  start.sh
Due: none

Create railway.json
  railway.json
Due: check-secrets

Delete railway.json
  railway.json
Due: check-secrets

Delete Dockerfile
  Dockerfile
Due: none

Create Dockerfile
  Dockerfile
Due: none

Create sync-to-hf.yml:
  .github/workflows/sync-to-hf.yml:
Due: none

Update sync-to-hf.yml:
  .github/workflows/sync-to-hf.yml:
Due: none

Simplify CI/CD workflow to basic testing and Hugging Face sync
  .github/workflows/unified-ci-cd.yml
Due: check-secrets

Update unified-ci-cd.yml
  .github/workflows/unified-ci-cd.yml
Due: check-secrets
